{:env #or [#env ENV "dev"], ; "dev" or "prod"
 :secrets #include "secrets.edn",
 :database
   {:connection-uri
      #or
       [#env DATABASE_URL
        "jdbc:postgresql://localhost:5432/ov_movies?user=root&password=root"]},
 :server
   {:base-url #or [#env BASE_URL "http://localhost:3000"],
    :port #long #or [#env PORT 3000]},
 :passphrase #or [#env PASSPHRASE "hunter2"],
 :movie-db
   {:api-key #or [#env MOVIE_DB_API_KEY #ref [:secrets :movie-db-api-key]]}}
